<form id="salesCreateForm" method="POST" action="/sales/create">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Create {{{moduleName}}}</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Basic Details</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-fullname">Full Name</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-user"></i></span>
                                <input type="text" class="form-control" id="sales-create-fullname"
                                    placeholder="John Doe" aria-label="John Doe" name="fullName"
                                    aria-describedby="basic-icon-default-fullname2" />
                            </div>
                            <span id="sales-create-fullname-error" class="text-danger d-none">this field is
                                required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-email">Email</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                <input type="text" id="sales-create-email" class="form-control" placeholder="john.doe"
                                    aria-label="john.doe" aria-describedby="basic-icon-default-email2" name="email"
                                    autocomplete="new-email" />
                                <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                            </div>
                            <span id="sales-create-email-error" class="text-danger d-none">this field is required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-phone">Phone No</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-phone2" class="input-group-text"><i
                                        class="bx bx-phone"></i></span>
                                <input type="text" id="sales-create-phone" name="contactNumber"
                                    class="form-control phone-mask" placeholder="658 799 8941" aria-label="658 799 8941"
                                    aria-describedby="basic-icon-default-phone2" />
                            </div>
                            <span id="sales-create-phone-error" class="text-danger d-none">this field is required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-password">Password</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i
                                        class="bx bx-fingerprint"></i></span>
                                <input type="password" id="sales-create-password" name="password" class="form-control"
                                    aria-describedby="basic-icon-default-company2" placeholder="********"
                                    autocomplete="new-password" />
                            </div>
                            <div class="form-text">You can use letters, numbers & periods</div>
                            <span id="sales-create-password-error" class="text-danger d-none">this field is
                                required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-c-password">Confim Passwrod</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i
                                        class="bx bx-fingerprint"></i></span>
                                <input type="password" id="sales-create-c-password" name="password1"
                                    placeholder="********" class="form-control"
                                    aria-describedby="basic-icon-default-company2" />
                            </div>
                            <div class="form-text">You can use letters, numbers & periods</div>
                            <span id="sales-create-c-password-error" class="text-danger d-none">this field is
                                required</span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="isEnabled"
                                id="defaultCheck3" checked />
                            <label class="form-check-label" for="defaultCheck3">
                                Active {{{moduleName}}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Address Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-address">Address</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text"><i
                                        class="bx bx-home"></i></span>
                                <textarea id="sales-create-address" class="form-control"
                                    placeholder="304B, Manious Street" aria-label="304B, Manious Street" name="address"
                                    aria-describedby="basic-icon-default-message2"></textarea>
                            </div>
                            <span id="sales-create-address-error" class="text-danger d-none">this field is
                                required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-city">City</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-buildings"></i></span>
                                <input type="text" class="form-control" id="sales-create-city" placeholder="Madrid"
                                    aria-label="Madrid" name="city" aria-describedby="basic-icon-default-fullname2" />
                            </div>
                            <span id="sales-create-city-error" class="text-danger d-none">this field is required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-state">State</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i
                                        class="bx bx-stats"></i></span>
                                <input type="text" id="sales-create-state" name="state" class="form-control"
                                    placeholder="Barcelona" aria-label="Barcelona"
                                    aria-describedby="basic-icon-default-company2" />
                            </div>
                            <span id="sales-create-state-error" class="text-danger d-none">this field is required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-zipCode">Zip Code</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-directions"></i></span>
                                <input type="text" id="sales-create-zipCode" name="zipCode" class="form-control"
                                    placeholder="214562" aria-label="214562"
                                    aria-describedby="basic-icon-default-email2" />
                            </div>
                            <span id="sales-create-zipCode-error" class="text-danger d-none">this field is
                                required</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sales-create-country">Country</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-shape-circle"></i></span>
                                <select id="sales-create-country" name="country" class="select2 form-select">
                                    <option value="">Select</option>
                                    {{#each countries}}
                                    <option value="{{{id}}}">{{{name}}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <span id="sales-create-country-error" class="text-danger d-none">this field is
                                required</span>
                        </div>

                        <span onclick="SubmitCreateSalesForm();" class="btn btn-primary">Create</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function SubmitCreateSalesForm() {
        let fullName = $('#sales-create-fullname').val();
        let email = $('#sales-create-email').val();
        let phone = $('#sales-create-phone').val();
        let password = $('#sales-create-password').val();
        let cpassword = $('#sales-create-c-password').val();
        let address = $('#sales-create-address').val();
        let city = $('#sales-create-city').val();
        let state = $('#sales-create-state').val();
        let zipCode = $('#sales-create-zipCode').val();
        let country = $('#sales-create-country').val();
        if (!fullName || fullName == "") {
            $('#sales-create-fullname-error').removeClass('d-none');
        } else {
            $('#sales-create-fullname-error').addClass('d-none');
        }
        if (!email) {
            $('#sales-create-email-error').removeClass('d-none');
        } else {
            $('#sales-create-email-error').addClass('d-none');
        }
        if (!phone) {
            $('#sales-create-phone-error').removeClass('d-none');
        } else {
            $('#sales-create-phone-error').addClass('d-none');
        }
        if (!password) {
            $('#sales-create-password-error').removeClass('d-none');
        } else {
            $('#sales-create-password-error').addClass('d-none');
        }
        if (!cpassword) {
            $('#sales-create-c-password-error').removeClass('d-none');
        } else {
            $('#sales-create-c-password-error').addClass('d-none');
        }
        if (!address) {
            $('#sales-create-address-error').removeClass('d-none');
        } else {
            $('#sales-create-address-error').addClass('d-none');
        }
        if (!city) {
            $('#sales-create-city-error').removeClass('d-none');
        } else {
            $('#sales-create-city-error').addClass('d-none');
        }
        if (!state) {
            $('#sales-create-state-error').removeClass('d-none');
        } else {
            $('#sales-create-state-error').addClass('d-none');
        }
        if (!zipCode) {
            $('#sales-create-zipCode-error').removeClass('d-none');
        } else {
            $('#sales-create-zipCode-error').addClass('d-none');
        }
        if (!country) {
            $('#sales-create-country-error').removeClass('d-none');
        } else {
            $('#sales-create-country-error').addClass('d-none');
        }
        console.log({ fullName, email, phone, password, cpassword, address, city, state, zipCode, country })
        if (fullName && email && phone && password && cpassword && address && city && state && zipCode && country) {
            $('#salesCreateForm').submit();
        }
        //admin-create-fullname-error
    }
</script>